<form method="GET" action="{% url 'add_word' %}">
    <label for="word_nihon">Nihon Word:</label>
    <input type="text" id="word_nihon" name="word_nihon" required><br><br>
  
    <label for="word_meaning">English Meaning:</label>
    <input type="text" id="word_meaning" name="word_meaning" required><br><br>
  
    <label for="word_nihon_similar">Nihon Similar Word:</label>
    <input type="text" id="word_nihon_similar" name="word_nihon_similar" required><br><br>
  
    <label for="word_kanji">Kanji:</label>
    <input type="text" id="word_kanji" name="word_kanji" required><br><br>
  
    <button type="submit">Submit</button>
  </form>
  